<div class="wrapper">
	<ul>
		<li class="healthlist clearfix">
			<p class="healthimg fl"><img src="images/health.gif"></p>
			<ul class="minilinks">
				<li class="fl" ng-click=""><img class="fileupload" src="images/fileupload.png"></li>
				<li class="fl" ng-click="share()"><img class="share" src="images/share.png"></li>
			</ul>
			<div class="healthinfo fl">
				<p class="healthtitle">Eat Healthy Foods </p>
				<p class="healthtime rb"><i class="tiny material-icons">query_builder</i><span>9/30/2016 4:00pm</span></p>
				<p class="healthdesc rb">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit, dolor, maxime quisquam ipsa est similique hic. Cumque iste aut dolore.</p>
			</div>
			<p class="fr rb">Share with social...</p>
		</li>
	</ul>
</div>
<div id="modalsocial" class="modal bottom-sheet">
<div class="modal-content">
  <p>Share with these ff...</p>
  <p></p>
</div>
</div>