<div ng-controller="NavigationController">
	<header class="clearfix">
		<span class="apptitle">Tipidapp</span>
		<span class="searchbar"><input class="searchbar" type="text" placeholder="Search"></span>
		<i class="material-icons searchbutton">search</i>
	</header>
	<ul class="navigation clearfix">
		<li ng-repeat="items in navigation">
		  <p ng-class="{ 'active' : activeMenu === items }">
		  	<a class="waves-effect waves-light" ng-click="setActive(items)" href="#{{ items }}">{{ items }}</a>
		  </p>
	   </li>
	</ul>
</div>