<div ng-controller="NavigationController">
	<div class="headerblock">
		<header class="clearfix" ng-class="{ 'active' : toggleactive === true }">
			<span class="backbutton" ng-click="backbutton()"><img src="images/backbutton.png"></span>
			<span class="apptitle">{{ title }}</span>
			<span class="searchbar"><input type="text" placeholder="Search"></span>
			<span class="searchbutton" ng-click="togglesearch()"><i class="material-icons">{{ toggleaction }}</i></span>
		</header>
		<ul class="navigation clearfix">
			<li ng-repeat="items in navigation">
			  <p ng-class="{ 'active' : activeMenu === items }">
			  	<a class="waves-effect waves-light" ng-click="setActive(items)" href="#{{ items }}">{{ items }}</a>
			  </p>
		   </li>
		</ul>
	</div>
</div>